oldcode/DSTempSNF.h--
oldcode/myCommon.h--
play-data/Chart.min.js
play-data/Chart.minExp.js
play-data/Chart.minExpN.js
play-data/chartmn.js
play-data/dstemp2.htm
play-data/dstemp2b.htm
play-data/dstempb.htm
play-data/dstempGauge.htm
play-data/funcs.js
play-data/gauge.min.js
play-data/gauge.minORG.js
play-data/gaugemin.js
play-data/gkgauge.htm
play-data/test.htm
play-data/test.js
oldcode/
*.zip
